<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baidu.idl.facesdkdemo"
    android:sharedUserId="android.uid.system">

    <!--拍照权限	允许访问摄像头进行拍照-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--访问网络	访问网络连接,可能产生GPRS流量-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--挂载文件系统	 挂载、反挂载外部文件系统-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" tools:ignore="ProtectedPermissions" />
    <!--写入外部存储	 允许程序写入外部存储,如SD卡上写文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--获取网络状态	 获取网络信息状态,如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--自动对焦-->
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <!--读写系统设置	 允许读写系统设置项-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <!--读取电话状态	 访问电话状态 注：如果您的App需要上传到google play store，您需要将READ_PHONE_STATE权限屏蔽掉或者移除，否则可能会被下架。-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取外部存储-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--获取任务信息	允许程序获取当前或最近运行的应用-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--开机自动允许	允许程序开机自动运行-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--访问WIFI状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读取底层系统日志文件-->
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions" />
    <!--允许程序连接到已配对的蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--允许程序发现和配对蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--允许一个程序访问精良位置(如GPS)-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--允许一个程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.SET_TIME"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" /> <!--true 表示手机必须支持BLE，否则无法安装！这里设为false, 运行后在Activity中检查-->

    <application
        android:name="com.baidu.idl.face.main.application.BaseApplication"
        android:icon="@mipmap/bhd"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <!--主页面-->
        <activity
            android:name="com.baidu.idl.face.main.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--人脸注册-->
        <activity android:name="com.baidu.idl.face.main.activity.FaceRegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!--人脸注册预览页面-->
        <activity android:name="com.baidu.idl.face.main.activity.FaceRGBRegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.baidu.idl.face.main.activity.FaceMainSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
         <!--设备激活（在线激活、离线激活）页面-->
        <activity android:name="com.baidu.idl.face.main.activity.FaceAuthActicity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
         <!--组列表信息页面-->
        <activity android:name="com.baidu.idl.face.main.activity.FaceUserGroupListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
         <!--用户列表信息页面-->
        <activity android:name="com.baidu.idl.face.main.activity.FaceUserListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
         <!--用户信息页面-->
        <activity android:name="com.baidu.idl.face.main.activity.FaceUserInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.baidu.idl.face.main.activity.FaceRGBCloseDebugSearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.baidu.idl.face.main.activity.FaceAttributeRGBActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!--功能设置页面-->
        <activity android:name="com.baidu.idl.face.main.activity.setting.SettingMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.CameraDisplayAngleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.DebugModeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.DetectTrailStrategyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.FaceDetectAngleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.FaceLivenessThresholdActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.FaceLivinessType"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.MinFaceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.QualityControlActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.RecognizeModleTypeAcctivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.RecognizeModleThresholdActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.baidu.idl.face.main.activity.setting.DetectFllowStrategyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.baidu.idl.face.main.activity.setting.MirrorSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--SD卡文件资源管理器-->
        <activity android:name="com.baidu.idl.face.main.activity.SDCardFileExplorerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 安全设备指纹接入 start -->
        <activity
            android:name="com.baidu.liantian.LiantianActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />
                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.baidu.liantian.LiantianReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />
                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--开启自启-->
        <receiver
            android:name="com.baidu.idl.face.main.service.BootReceiver"
            android:exported="true"
            android:enabled="true">
            <!--优先级拉到最低，防止软件启动完毕，系统组件还未加载完成，导致报错-->
            <intent-filter
                android:priority="0">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.baidu.liantian.LiantianProvider"
            android:authorities="com.baidu.idl.face.demo.liantian.ac.provider"
            android:exported="false" />

        <service
            android:name="com.baidu.liantian.LiantianService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />
                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="com.baidu.idl.face.main.service.TcpService"
            android:exported="false"
            android:enabled="true">
        </service>

        <meta-data
            android:name="seckey_avscan"
            android:value="660346260f8a841a04ec2a56815b421b" />
        <meta-data
            android:name="appkey_avscan"
            android:value="100034" />
        <!-- 安全设备指纹接入 end -->
    </application>

</manifest>